/*link da font para ser usada do google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

/*todos os elementos devem respeitar o tamanho da div e ele está dentro*/
body * {
    box-sizing: border-box;
}
/*freme principal dentro dela tem left-login e rigth-login*/
.main-login{
    width: 100vw; /* VW utiliza a W largura total do dispositivo em porcentagem*/
    height: 100vh; /* VH utiliza a V altura total do navegador vertical  */
    background: #201b2c;
    display: flex; /* Organiza o elementos em colunas um do lado do outro*/
    justify-content: center; /* horizontal Organiza centraliza os itens espaçamento etc */
    align-items: center;/* vertical organiza os itens na vertical*/
}

/* frame de login do lado esquerdo */
.left-login{
  width: 50vw;  /* largura 50% do tamanho da tela */
  height: 100vh; /* altura em porcentagem da tela*/
  display: flex; /* Organiza o elementos em colunas um na frente do outro*/
  flex-direction: column; /* coloca os itens um abaixo do outro mesmo com display flex*/
  justify-content: center; /* horizontal Organiza centraliza os itens espaçamento etc */
  align-items: center;/* vertical organiza os itens na vertical*/

}
/* chamar o titulo h1 que está dentro da left login */
.left-login > h1{
    color: #77ffcB;
    font-size: 3vw; /*deixa o texto atrelado a largura da tela em 3%*/
}

.left-login-image{
    width: 35vw; /*deixa a imagem com o tamanho atrelado a porcentagem da tela em 35%*/
}

/* freme de login do lado direito*/
.rigth-login{
    width: 50vw;  /* largura 50% do tamanho da tela */
    height: 100vh; /* altura em porcentagem da tela*/
    display: flex; /* Organiza o elementos em colunas um na frente do outro*/
    flex-direction: column; /* coloca os itens um abaixo do outro mesmo com display flex*/
    justify-content: center; /* horizontal Organiza centraliza os itens espaçamento etc */
    align-items: center;/* vertical organiza os itens na vertical*/
   
}

.card-login{
    width: 60%; /*usando porcentagem para pegar a porcentagem da div em que está dentro, vw pega a porcentagem da tela  */
    /*height nessa caso é a altura dotal da div. nao precisa usar neste caso*/
    display: flex; /* Organiza o elementos em colunas um na frente do outro*/
    flex-direction: column; /* coloca os itens um abaixo do outro mesmo com display flex*/
    justify-content: center; /* horizontal Organiza centraliza os itens espaçamento etc */
    align-items: center;/* vertical organiza os itens na vertical*/
   
    padding: 30px 35px; /*padding são margem para dentro da div*/
    /*primeiro valor margem vertical (interna)*/
    /*segundo valor margem horizontal (interna)*/
    
    background: #2f2841;
    border-radius: 20px; /*Arredonda as bordas num raio de 20 pixels*/
    
    box-shadow: 10px/*horizontal*/ 10px/*vertical*/ 30px/*blour borrado*/ #00000081 /*cor da sombra*/;
    /*valor negativo para sombra a esquerda e cima*/
    /*ORDEM DOS VALORES BORDER SHADOW*/
    /*horizontal, vertical, blour, cor da sombra*/
}


/*chamando o titulo h1 dentro do card-login*/
.card-login > h1 {  
    color: #00ff88;
    font-weight: 800; /*espessura da font*/
    margin: 0; /*margem externa do texto*/
}

.textfield{
    width: 100%;
    display: flex;    
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 8px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    outline: none;
    
    box-sizing: border-box; /*impede que o elemento saia fora da div*/

    box-shadow: 10px/*horizontal*/ 10px/*vertical*/ 40px/*blour borrado*/ #00000081 /*cor da sombra*/;
}

/*cor do label*/
.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

/*chamar o item placeholder dentro do input do elemento textfiel*/
.textfield > input::placeholder{
    color: #f0ffffde;
}

/* configurações do botão*/
.btn-login{
    width: 100%; /*largura total da div*/
    padding: 16px /*vertical*/ 0px /*horizontal*/;
    margin: 25px; /*margem vertical*/
    border: none; 
    border-radius: 8px;
    outline: none; /*remove a linha externa quando passa o mouse*/
    text-transform: uppercase; /*transforma as letras em maiúsculo*/
    font-weight: 800; /*largura la linha da fonte (negrito)*/
    letter-spacing: 5px; /*espaçamento das letras*/
    color: #2b134b;
    background: #00ff88;
    cursor: pointer; /*altera o mouse (mãozinha) quando passa por cima*/
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

/*enquanto a tela for menor que 950px usar essas configurações */
@media only screen and (max-width: 950px){
   
    .card-login{
        width: 85%;
    }

}

/*quando a tela for ate 600px (celulares)*/
@media only screen and (max-width: 600px){
   
    .main-login{
        flex-direction:column;
    }

    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }
    
    .rigth-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 40vh;
    }



}
